// Susy setup -----------------------------------@include border-box-sizing;

$small                : 32.5em;
$shmedium             : 37.5em;
$medium               : 48em;
$large                : 60em;



/* Clearfix
===================================== */
.group:after {
	content: ' ';
	display: table;
	clear: both;
}






















